@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    
    background-color: antiquewhite;
}

h1{
    font-family: Montserrat;
    background-color:black;
    color:#555;
}
p{
    font-family: kalam;
    color:black;

    text-align: justify;
    padding: 5px;
}
nav{
    background-color: white;
    color:blue;
    width:100%;
}
ul{
    list-style: none;
}
li{
    display: inline-table;
    border:1px solid blue;
    width:15%;
    text-align: center;
    border-radius: 15px;
}
li:hover{
    background-color: blue;
    color:black;
}
a{
    text-decoration: none;
    color:white;
    font-weight: bolder;
}
a:hover{
    background-color: blue;
    color:white;
}
form{
    color:white;
}
input, select{
    color:white;
}
.fundo1{
    background-color: blueviolet;
    color: black;
}
.fundo2{
    background-color: green;
    color:darkolivegreen;
}
.fundo3{
    background-color: aquamarine;
    color:black;
}